<form id="login-form" class="login-form">
  <h1>Login Here!</h1>
  <div>
    <label for="username-login">Username:</label>
    <input type="text" id="username-login" />
  </div>
  <div>
    <label for="password-login">Password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit" class="btn" id="login">Login</button>
  </div>
</form>

<div>
  <a href="/signup">New User</a>
</div>

<script src="/javascript/login.js"></script>